# .gitignore

# Python
__pycache__/
*.pyc

# Virtual Environment
# venv/ - pyenv/venv
# poetry
.venv/
.poetry-cache/

# IDE/Editor specific
.vscode/
.idea/

# Secret file
.env

# Output files
output/
*.mp4
*.mp3
*.wav

# OS specific
.DS_Store
Thumbs.db